:root{
    --width:400px;
    --height:500px;
}

#wrapper{

size:var(--width) var(--height);
max-width: var(--width);
max-height: var(--height);
min-width: var(--width);
min-height: var(--height);

border: solid 3px;
padding: 0%;

overflow: hidden;

}
div{
    border: solid 0px;

}

#display{
    background-color: rgb(255, 189, 165);
    float: left;
    width: 50%;
    height: 100%;
}
#menu{
    background-color: aqua;
    float: right;
    width: 50%;
    height: 100%;
    flex:1;


}

img{
    position:absolute;
    mix-blend-mode: normal;

}

#clipping{
    background-color: red;mix-blend-mode: color;mask-image:url();
}

#game{
    float:left;
}
