

	
.column {


	padding:5px;



	
}

.column.main {
	
	width:70%;
	height: 600px;
	float:left;
	overflow: show;

}
.column.side {
	
	width:30%;
	float:right;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.card{
	background-color:white;
	border: solid;
	border-color: #b67;
	height: 100%;
	

}

#profile{


	text-align:center;
}

#pfp{
	display: block;
	margin: 10% auto;

	text-align:center;
}



#rose{
	position: absolute;


	animation:fade 4s infinite;

	animation-iteration-count: infinite;

}


@keyframes float {
  from, to {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes scroll {
	to {
		transform: translate(100%);

	}
}
@keyframes fade {
	from, to {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
}

iframe{
	overflow: hidden;
	border:hidden;
	margin: auto;
	padding: auto;
}

#rose-container {  
	

	position: absolute;
	top: 0;
	bottom:0;
	transition: opacity 500ms;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
  }