div{
	outline:solid 1px;
	box-sizing: border-box;



}
div:hover
{

	outline-color:red;

}
*{
	padding: 10px;
	margin: 0px;
	

	}
	


.column.main {
	width:70%;
	float:left;

}
.column.side {
	width:30%;
	float:left;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

