*{

	margin: 0px;
}
body {
  background-color: royalblue;
  background-image: url("flower.jpg");
  background-attachment: fixed;

}
div{
	
	box-sizing: border-box;
	margin: 0px;
	padding:0px;

}
/*
div:hover
{
	outline: solid;
	outline-color:black;

}
	*/
.wrapper {
	background-color:#fdd;
	width:1000px;

	
	margin: 40px auto 40px auto ;
	border:solid 10px;
	border-color:#b67;
	padding:10px;
	outline:solid;
	outline-color: maroon;
}
@media screen and (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }
}
.header{
	text-align: center;
	background-color: #b67;
	margin: -10px;
}

.footer{
	text-align: center;
	background-color: skyblue;

}
.topnav {
	overflow: hidden;
	margin-top: 10px;
	


}

/* Style the topnav links */
.topnav a:link {
	float: left;
	display: block;
	text-align: center;
	border-radius:5px;
	margin: 10px;
	text-decoration: none;
	background-color:lightblue;
	padding:3px;

}
.topnav a:visited {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:lightblue;

}

/* Change color on hover */
.topnav a:hover {
	background-color: blue;
	color: black;
}
.topnav a:active {
	background-color: white;
	color: black;
}



marquee{
	color:red;
	font-family:impact;
}

h2{
	background-color:#b67;
}

.ribbon{
	position:absolute;
	overflow:hidden;

	width:100%;

}

.scroller{
	position:relative;
	overflow:hidden;

	width:100%;
	animation:scroll 5s linear infinite;

}
@keyframes scroll {
to {
    transform: translate(-50%);

}
}
/*
@keyframes float {
  from, to {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

*/